
body {
    font-family: 'Oswald';
}




.background1 {
    background: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png) no-repeat;
    background-size: 100% auto;
    height: 50%;
    width: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    margin: 0%;
    border: 0%;
 
}

.background1 img {
    width: 5%;
    height: auto;
    margin-left: 47%;
   
   
}

.background1 h1 {
    color:#FFFFFb;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    top: 50%;
  
       
}

.background1 p {
    font-size: 24px;
    font-style: normal;
    font-family: 'source sans pro';
    font-weight: 100;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    top: 50%;
  
}
   

    
.background2 {
    background: url(assets/2.png);
    background-size: 100% 100%;
    height: auto;
    width: auto;
    padding-top: 1%;
    padding-bottom: 7%;
    margin: 0%;
    border: 0%;
   

}

.background2 h2 {
    text-align: center;
    font-size: 48px;
    top: 10%;
    left: 30%;
    color: #464547;
    
}

.background2 h3 {
    text-align: center;
    font-size: 24px;
    top: 200%;
    left: 30%;
    color: #666666;
    
}

.background2 p {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    top: 200%;
    left: 30%;
    color: #000000;
    
}

.background3 {
    background: url(assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: 100% 100%;
    height: auto;
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0%;
    border: 0%;
  
    
}

.background3 h2 {
    color: #FFFFFb;
    text-align: center;
    font-size: 48px;
    top: 50%;
    left: 20%;
}

.background3 h3 {
    color: #FFFFFb;
    font-style: normal;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    top: 50%;
    left: 20%;
}

.background4 {
    background: url(assets/4.png);
    background-size: 100% auto;
    height: auto;
    width: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0%;
    border: 0%;
}

.background4 p {
    top: 2220px;
    left: 140%;
    right: 200px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.background4 span{

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    top: 2220px;
    left: 100%;
    right: 3000px;

}


